

<!DOCTYPE html>

<html>

<head>

<style>

p.center {

    text-align: center;

    color: red;

}

</style>

</head>

<body>

​

<h1 class="center">This heading will not be affected</h1>

<p class="center">This paragraph will be red and center-aligned.</p> 

​
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

a:link, a:visited {
  color: #03C;
}
h3 {
  font-size: 18px;
  margin-left: 20px;
}
</body>

</html>

